@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "错误";
}

<div class="jumbotron">
    <div class="row">
        <h2>发生了一个错误，请重试，<a data-toggle="collapse" href="#detail">查看错误详情</a></h2>
    </div>
    <div class="collapse" id="detail">
        <div class="well">
            <h3>Controller:@Model.ControllerName &ndash; Action: @Model.ActionName</h3>
            <br />
            @Model.Exception
        </div>
    </div>
</div>