@{
    if (Planes.Models.LUser.LoginUser == null)
    { 
        Layout = null;
    }
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>404 错误</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <img style="margin:0 auto" src="~/Images/error404.png" class="img-responsive" />
    </div>
</body>
</html>