
@{
    ViewBag.Title = "Test";
    Layout = "";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body>
    asdas
</body>
</html>
<script>
    $(function () {
        $.ajax({
            url: "/Api/ChangeOrderPayType",
            type: "POST",
            data: { orderId:154260123123123123431882210,payType:1 },
            dataType: "json",
            success: function (data) {
                console.log(data);
            }
        });
    });
</script>